.con-integration-doc {
  margin-top: 0;
  padding: 0 2rem;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  background: #fff;
}
.con-integration-doc .conBg {
  padding: 4rem 0;
  position: relative;
}
.con-integration-doc .conBg::before {
  content: "";
  background: url("https://www.sharefable.com/bg-image/bg-feature-section-odd-new.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 80%;
  width: 80%;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  opacity: 0.7;
}
.con-integration-doc .conWhy {
  margin: 0 auto;
  max-width: calc(1500px - 10rem);
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.con-integration-doc .conWhy .con-img {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.con-integration-doc .conWhy .con-img img {
  width: 100%;
  object-fit: contain;
}
.con-integration-doc .conWhy .conText {
  position: relative;
}
.con-integration-doc .conWhy .conText .conTitle {
  position: relative;
  width: fit-content;
}
.con-integration-doc .conWhy .conText .conTitle .title {
  max-width: 680px;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
}

.con-integration-doc .conWhy .conBtn {
  display: flex;
  justify-content: center;
}

.con-integration-doc .conWhy .conBtn.desktop {
  display: none;
}

.con-integration-doc .conWhy .btn {
  background-color: #7567ff;
  color: white;
  padding: 1.2rem 3.2rem;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 4rem;
  margin-top: 2rem;
}
.con-integration-doc .conWhy .conText .desc {
  font-size: 1rem;
  max-width: 658px;
  line-height: 1.3;
  margin-top: 1rem;
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .con-integration-doc .conWhy {
    flex-direction: row;
  }
  .con-integration-doc .conWhy .conText .conTitle .title {
    font-size: 3.5rem;
  }

  .con-integration-doc .conWhy .conText .desc {
    font-size: 1.25rem;
  }

  .con-integration-doc .conWhy .conBtn.mobile {
    display: none;
  }
  .con-integration-doc .conWhy .con-img {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-right: 2rem;
  }

  .con-integration-doc .conWhy .conBtn.desktop {
    display: flex;
  }

  .con-integration-doc .conWhy .conText {
    flex: 1;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
