.con-content-block {
  margin-top: 0;
  padding: 0 2rem;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #fff;
}
.con-content-block .conBg {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}
.con-content-block .conBg::before {
  content: "";
  background: url("https://www.sharefable.com/bg-image/spiral-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  right: 0;
  transform: scale(1.4) rotate(20deg);
}
.con-content-block .conWhy {
  margin: 0 auto;
  max-width: calc(1500px - 10rem);
  padding: 0;
  position: relative;
}
.con-content-block .conWhy .conText {
  position: relative;
  width: fit-content;
}
.con-content-block .conWhy .conText h1,
.con-content-block .conWhy .conText h2 {
  max-width: 680px;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
}
.con-content-block .conWhy .conText p {
  font-size: 1rem;
  max-width: 858px;
  line-height: 1.3;
  margin-top: 2rem;
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .con-content-block .conWhy .conText h1,
  .con-content-block .conWhy .conText h2 {
    font-size: 3.5rem;
  }

  .con-content-block .conWhy .conText .desc {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
