.con-card-carousel {
  position: relative;
  padding: 1.4rem 1rem;
  position: relative;
  margin: 0 auto;
  flex: 1;
  min-width: 100%;
  box-sizing: border-box;
}
.con-card-carousel__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  position: relative;
  padding: 2.4rem 1.8rem;
  align-items: center;
}
.con-card-carousel__card-img {
  position: relative;
  width: 17rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-card-carousel__card-img img {
  object-fit: contain;
  width: 100%;
  max-width: 32rem;
}

.con-card-carousel__card-text {
  user-select: none;
  margin-top: 0.5rem;
  max-width: 32rem;
  place-self: center;
}
.con-card-carousel__card-text > *:not(:last-child) {
  margin-bottom: 1rem;
}
.con-card-carousel__card-text-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0rem;
}
.con-card-carousel__card-text-para {
  color: black;
  font-size: 0.875rem;
  line-height: 1.3;
}
.con-card-carousel__card-text-link {
  display: inline-block;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 0.8rem 2.6rem;
  text-decoration: none;
  background-color: #7567ff;
  border-radius: 2.6rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

.con-card-carousel__card-text-link:hover {
  background-color: #7567ff;
}
@media screen and (min-width: 480px) {
  .con-card-carousel__card-img {
    width: 20rem;
  }
}
@media screen and (min-width: 576px) {
  .con-card-carousel__card-img {
    width: 20rem;
  }
}
@media screen and (min-width: 768px) {
  .con-card-carousel__card-text {
    margin-top: 1.5rem;
  }
  .con-card-carousel__card {
    grid-template-columns: 1fr 1fr;
  }
  .con-card-carousel__card-img {
    width: 100%;
  }
  .con-card-carousel__card-text-title {
    font-size: 2rem;
  }
  .con-card-carousel__card-text-para {
    font-size: 1.25rem;
  }
  .con-card-carousel__card-text > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  .con-card-carousel {
    padding: 2.4rem 1.8rem;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
