.con-integrations {
  margin-top: 0;
  padding: 0 2rem;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #fbf6ff;
}
.con-integrations .conIntegration {
  margin: 0 auto;
  max-width: calc(1500px - 10rem);
  padding: 1rem 0;
  flex-direction: column;
  gap: 0;
  position: relative;
  display: flex;
}
.con-integrations .conIntegration .conLeft {
  flex: 1;
}
.con-integrations .conIntegration .conLeft .conText {
  position: relative;
  width: fit-content;
}
.con-integrations .conIntegration .conLeft .conText .title {
  max-width: 600px;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
}
.con-integrations .conIntegration .conLeft .conText .desc {
  max-width: 858px;
  line-height: 1.3;
  margin-top: 2rem;
  font-size: 0.875rem;
}
.con-integrations .conIntegration .conRight {
  flex: 1;
  display: grid;
  place-items: center;
  background: url("https://www.sharefable.com/bg-image/fable-integrations-bg.svg");
  background-repeat: no-repeat;
  background-position-y: -2rem;
  background-size: cover;
}
.con-integrations .conIntegration .conRight .groupedLogo {
  width: 100%;
  position: relative;
  aspect-ratio: 3.099009901;
  display: none;
}
.con-integrations .conIntegration .conRight .companiesLogo {
  display: flex;
}

.con-integrations .conIntegration .conRight .companiesLogo .logo {
  height: 4rem;
}
.con-integrations .conIntegration .conRight .companiesLogo .logo img {
  object-fit: contain;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .con-integrations .conIntegration {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 576px) {
  .con-integrations .conIntegration .conRight .companiesLogo .logo {
    height: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .con-integrations .conIntegration .conLeft .conText .title {
    font-size: 3rem;
  }
  .con-integrations .conIntegration .conLeft .conText .desc {
    font-size: 1.25rem;
  }
  .con-integrations .conIntegration .conRight .companiesLogo .logo {
    height: 7rem;
  }
}
@media screen and (min-width: 992px) {
  .con-integrations .conIntegration .conLeft .conText .title {
    font-size: 3.5rem;
  }
  .con-integrations .conIntegration {
    padding: 6rem 0;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
